# IntelliJ project files
.idea
*.iml
out
gen

#log
*.log

#node_modules
node_modules

#build
dist/
public/build/

#config
platforms/common/config/*
!platforms/common/config/default.js
!platforms/common/config/index.js

#test
test/coverage/
karma-*/
